<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <title>Document</title>
</head>
<body>
        
            <form action="/register" method="POST">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" ><br>

            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" ><br>

            <label for="lname">Email Id:</label><br>
            <input type="text" id="email" name="email" ><br>

            <label for="lname">Phone no:</label><br>
            <input type="number" id="phone" name="phone" ><br>

            <label for="lname">Age:</label><br>
            <input type="number" id="age" name="age" ><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" ><br>

            <label for="lname">Confirm Password:</label><br>
            <input type="password" id="confirmpassword" name="confirmpassword" ><br>

            <label for="lname">Gender:</label><br>
             <input type="radio" id="male" name="gender" value="male">
            <label for="html">Male</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="css">Female</label><br>

            <input type="submit" value="Submit">
        </form>

</body>
</html>